@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */
body {

font-family: "Raleway", sans-serif;
text-transform: uppercase;
letter-spacing: .02em;
text-align: center;
color:#44545E;
}

nav a {
	padding: 40px;
	text-decoration: none;
	color:#44545E;
}

a:hover { color: #BEDBE8;
}

nav{
	margin-bottom: 20px;
	margin-top: 20px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  width: 100%;
}

.text-block {
  position: relative;
  bottom: 150px;
  margin-bottom: -50px;	
}

.container img {
	 width: 100%;
	 height:250px;
}

.article {
	text-align: left;
	padding-left: 45px;
}

.article img {
	display:block;
	margin:0 auto;
	padding:30px 30px;
	width: 85%;
	height:auto;
}

.article p{
	margin-left: 100px;	
	margin-bottom: 22px;
	padding:0px, 22px; 
	margin-right: 100px
}

.article2 img {
	display:block;
	margin:0 auto;
	padding:30px 30px;
	width: 85%;
	height:auto;
}

.article2 p{
	margin-left: 100px;	
	margin-bottom: 22px;
	padding:22px, 22px; 
	margin-right: 100px;
}

.article2 {
	text-align: left;
	padding-left: 45px;
}

.article3 {
	text-align: left;
	padding-left: 45px;
}

.article3 p{
	margin-left: 100px;	
	margin-bottom: 22px;
	padding:22px, 22px; 
	margin-right: 100px
}

.article3 h3{
	margin-left: 100px;	
}

.article3 img {
	padding: 10px 0px;	
	margin-left: 100px;	
}

footer {
	background-color: #cff3f6;
	padding: 50px 50px;
}

ul{
	margin-left: 100px;	
}

ul a {
	text-decoration: none;
	color:#0091ff;
}

footer a img {
	height: 50px;
    width: 50px;
}

footer p {
	padding: 15	px 15px;
}

/* Bottom right text */

/* Fix for responsive images 


nav	{
	background-color: white;

}

.container {
	position: relative;
}

.monument {
	position: absolute;
	padding: 50px 50px

}